@page "/comments/details"
@using Microsoft.EntityFrameworkCore
@using IntroProject.Models
@inject IDbContextFactory<IntroProject.Data.WebForumDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Comment</h2>
    <hr />
    @if (comment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Contents</dt>
            <dd class="col-sm-10">@comment.Contents</dd>
            <dt class="col-sm-2">User_id</dt>
            <dd class="col-sm-10">@comment.User_id</dd>
            <dt class="col-sm-2">Post_id</dt>
            <dd class="col-sm-10">@comment.Post_id</dd>
        </dl>
        <div>
            <a href="@($"/comments/edit?comment_id={comment.Comment_id}")">Edit</a> |
            <a href="@($"/comments")">Back to List</a>
        </div>
    }
</div>

@code {
    private Comment? comment;

    [SupplyParameterFromQuery]
    private int Comment_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        comment = await context.Comment.FirstOrDefaultAsync(m => m.Comment_id == Comment_id);

        if (comment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
